@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-mono bg-gradient-to-r from-blue-50 to-blue-100;
}

.icon {
  @apply sm:text-9xl text-black text-5xl;
}

.icon svg {
  @apply fill-current text-purple-700 ;
}

.sign {
  transition: all 0.5s ease;
  @apply flex self-center p-5 sm:p-10 rounded-full
  transform hover:scale-110
  hover:bg-purple-500
  hover:shadow-lg
  hover:border-purple-500
  focus:bg-purple-500
  focus:outline-none
  border-2
  border-purple-300
  mx-auto;
}

.sign:hover svg {
  @apply text-blue-50;
}

.btn {
  transition: background-color 0.5s ease;
  @apply
  m-auto flex-initial text-purple-600
  my-auto px-5 py-1 border border-purple-200
  hover:bg-purple-700 hover:text-purple-100
  focus:bg-purple-700 focus:text-purple-100
  focus:outline-none
  rounded-full
}

.volume-input {
  transition: background-color 0.5s ease;
  @apply
  m-auto flex-initial text-purple-600 bg-transparent w-24
  my-auto px-5 py-1 border border-purple-200
  hover:bg-purple-700 hover:text-purple-100
  focus:bg-purple-700 focus:text-purple-100
  focus:outline-none
  rounded-full
}
